<%- include('../includes/head.ejs') %>

</head>

<body>
  <%- include('../includes/navigation.ejs') %>
  <main>
    <div class="centered prdouct-page__card">
      <h1><%= product.title %></h1>
      <hr>
      <div>
        <img
          class="product-page__img"
          src="/<%= product.imageUrl %>"
          alt="<%= product.title %>"
        >
      </div>
        <h2> $<%= product.price %> </h2>
        <p> <%= product.description %> </h2>
          <% if (isAuthenticated) { %>
            <%- include('../includes/add-to-cart.ejs') %>
          <% } %>
      </div>
  </main>
</body>

<%- include('../includes/end.ejs') %>